# LinkStack - Environment Variables
# Copy to app.env and customize

# Timezone
TZ=America/New_York

# Host settings
BASE_HOST_NAME=linkstack.example.com
BASE_DOMAIN_NAME=example.com

# Admin user
APP_ADMIN_USER=admin
